.all-todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todos{
    margin: 2rem 0;
    background-color: #cccccc;
    padding-left: 20px;
    height: 120px;
    border: 1px solid #c1c0c0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    gap: 5rem;
    width: 50%;
}

.todo-text,
.todo-day{
    font-size: 2rem;
}

.todo-text{
    letter-spacing: 1px;
}

.todo-day{
    margin-top: 10px;
}
.delete-todo{
    color:red;
    cursor: pointer;
    padding-right: 0.5rem;
}

.chk-complete{
    width: 32px;
    height: 32px;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.strike{
    text-decoration: line-through;
}